<li class="list-group-item" style="margin: 1rem; font-size: 30px">
	{{burger_name}}

	<button class="change-devoured btn btn-dark" data-id="{{id}}" data-newdevour="{{devour}}">
		{{#if devoured}}EAT ME!{{/if}}
	</button>
</li>